doctype
html(lang="en")
	head
		include default/header.pug
		link(rel="stylesheet" href="css/app.css" media="all")
		title REST API Status
	body
		h1 REST API Status
		script(src="//192.168.0.100:35729/livereload.js")
